<div class="fullscreenContainer">
  <div class="formContainer">
    <div class="imgDesc">
      <div class="brandDescBox">
        <div class="brandDesc">Made for Developers</div>
        <div class="brandDesc">
          更<span style="color: 'rgba(64, 169, 255, 0.65)'">「 IT 」</span>的即时通讯工具
        </div>
        <div class="brandName">Neutron IM</div>
      </div>
    </div>
    <div class="form">
      <div class="title">
        <span style="font-size: '14px'; line-Height: '22px';color: 'rgba(0, 0, 0, 0.45)'; font-Weight: 500">
          {{ 'app.login.greeting' | i18n:'Eric' }}
        </span>
        <br />
        Neutron IM
      </div>
      <form (ngSubmit)="submitForm()" [formGroup]="formGroup" class="loginForm" nz-form>
        <nz-form-item>
          <nz-input-group nzPrefixIcon="mail">
            <input formControlName="email" nz-input placeholder="{{ 'app.login.email' | i18n}}" type="email" />
          </nz-input-group>
        </nz-form-item>

        <nz-form-item *ngIf="!isLogin">
          <nz-input-group nzPrefixIcon="idcard">
            <input formControlName="name" nz-input placeholder="{{ 'app.login.username' | i18n }}" type="text" />
          </nz-input-group>
        </nz-form-item>

        <nz-form-item>
          <nz-input-group nzPrefixIcon="lock">
            <input formControlName="password" nz-input placeholder="{{ 'app.login.password'  | i18n}}"
                   type="password" />
          </nz-input-group>
        </nz-form-item>

        <nz-form-item *ngIf="!isLogin">
          <nz-input-group nzPrefixIcon="lock">
            <input formControlName="repassword" nz-input placeholder="{{ 'app.login.repassword' | i18n }}"
                   type="password" />
          </nz-input-group>
        </nz-form-item>

        <nz-form-item [nzGutter]="8">
          <nz-col nzSpan="16">
            <nz-input-group>
              <input formControlName="captcha" nz-input placeholder="{{ 'app.login.captcha' | i18n }}" />
            </nz-input-group>
          </nz-col>
          <nz-col nzSpan="8">
            <nim-captcha></nim-captcha>
          </nz-col>
        </nz-form-item>

        <nz-form-item nzAlign="bottom" nzGutter="16">
          <nz-col>
            <button [nzLoading]="isSubmitting" nz-button nzType="primary">
              <i nz-icon nzTheme="outline" nzType="login"></i><span>{{ 'app.login.submit' | i18n }}</span>
            </button>
          </nz-col>

          <nz-col>
            <span class="text-switch-or">Or</span>
            <span (click)="switchLoginOrReg()" class="text-switch-to">
              {{isLogin ? ('app.register' | i18n) : ('app.login' | i18n)}}
            </span>
          </nz-col>
        </nz-form-item>
      </form>

    </div>
  </div>
</div>
