.itemBox {
  padding: 8px;
  width: 375px;
  height: 64px;
  box-sizing: border-box;
  display: flex;
}

.avatarBox {
  margin-right: 8px;
}

/*
// 左侧以375为标准宽度
// padding 各 8px => 16px
// avatar         => 48px
// margin-right   => 8px
// => 右侧 303px
*/
.infoBox {
  width: 303px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameAndTimeBox, .contentAndUnreadBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name {
  color: #333;
}

.time {
  color: #999;
}

.content {
  width: 80%;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unread {
  color: red;
}
