.metaInfo {
  display: flex;
  justify-content: space-between;
  border-bottom: #f2f2f2 solid 1px;
}

.rightNav {
  display: flex;
  height: 64px;
  // line-height: 64px;
}

.btnGroup {
  margin: 16px;
}

.avatar {
  margin: 6px;
}

.editorContainer,
.previewContainer {
  // height: 100vh;
  // resize: none;
  overflow: auto;
  padding: 0 8px;
}

.titleInput {
  // width: 50vw;
  height: 64px;
  width: 100%;
  border: none;
  outline: none;
}

.inputArea {
  width: 100%;
  // height: 500px !important;
  resize: none;
}

.previewContainer {
  overflow: auto;
}
