<div nz-row class="chats-full">
  <div nz-col nzSpan="10" class="chats-left">
    <div class="list-panel-header">
      <div class="list-panel-header-main">Current message</div>
      <div class="list-panel-header-sub">1/12/13</div>
    </div>

    <div class="list-panel-search-box">
      <nz-input-group class="list-panel-search" nzPrefixIcon="search">
        <input [(ngModel)]="searchKeyword"  [placeholder]="searchPlaceholder" (search)="onSearch()" nz-input>
      </nz-input-group>
    </div>

    <nim-relations-list></nim-relations-list>
  </div>

  <div nz-col nzSpan="14" class="chats-right">
    <router-outlet></router-outlet>
  </div>
</div>
