<header class="chat-panel-header">
  <div class="chat-panel-header-left">{{'online'}}|{{'Amy Adams'}}</div>
  <nz-space class="chat-panel-header-right">
    <div *nzSpaceItem>V</div>
    <div *nzSpaceItem>X</div>
    <div *nzSpaceItem>C</div>
    <div *nzSpaceItem>Z</div>
  </nz-space>
</header>

<div class="relations-profile-content">
  <div class="relations-profile">
    <img alt="avatar" class="relations-profile-avatar" src="/assets/appicon/1024.png">
    <div class="relations-profile-right">

      <div class="relations-profile-name">
        Amy Adams
      </div>

      <div class="relations-profile-desc">
        I need to be different and there is no substitute for it.
      </div>

      <ul class="relations-details">
        <li class="relations-details-item">
          <div class="relations-details-item-title">Nickanem</div>
          <div class="relations-details-item-title">Nickanem</div>
        </li>
        <li class="relations-details-item">
          <div class="relations-details-item-title">Nickanem</div>
          <div class="relations-details-item-title">Nickanem</div>
        </li>
        <li class="relations-details-item">
          <div class="relations-details-item-title">Nickanem</div>
          <div class="relations-details-item-title">Nickanem</div>
        </li>
        <li class="relations-details-item">
          <div class="relations-details-item-title">Nickanem</div>
          <div class="relations-details-item-title">Nickanem</div>
        </li>
        <li class="relations-details-item">
          <div class="relations-details-item-title">Nickanem</div>
          <div class="relations-details-item-title">Nickanem</div>
        </li>
        <li class="relations-details-item">
          <div class="relations-details-item-title">Nickanem</div>
          <div class="relations-details-item-title">Nickanem</div>
        </li>
      </ul>

      <div class="relations-profile-counters">
        <div class="relations-profile-counters-item">
          <div class="relations-profile-counter-item-num">155678</div>
          <div class="relations-profile-counter-item-title">Be viewed</div>
        </div>

        <div class="relations-profile-counters-item">
          <div class="relations-profile-counter-item-num">155678</div>
          <div class="relations-profile-counter-item-title">Be viewed</div>
        </div>
      </div>
    </div>
  </div>
</div>

<nz-tabset class="relations-profile-posts">
  <nz-tab nzTitle="Photos">
    <!--    <nz-demo-tab-content-eagerly></nz-demo-tab-content-eagerly>-->
  </nz-tab>
  <nz-tab nzTitle="Articles">
    <!--    <nz-demo-tab-content-eagerly></nz-demo-tab-content-eagerly>-->
  </nz-tab>
  <nz-tab nzTitle="Code Snips">
    <ng-template nz-tab>
      <!--      <nz-demo-tab-content-lazy></nz-demo-tab-content-lazy>-->
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Others">
    <ng-template nz-tab>
      <!--      <nz-demo-tab-content-lazy></nz-demo-tab-content-lazy>-->
    </ng-template>
  </nz-tab>
</nz-tabset>
