<header class="chat-panel-header">
  <div class="chat-panel-header-left">{{opposite.nickname}}</div>
  <nz-space class="chat-panel-header-right">
    <div *nzSpaceItem>V</div>
    <div *nzSpaceItem>X</div>
    <div *nzSpaceItem>C</div>
    <div *nzSpaceItem>Z</div>
  </nz-space>
</header>

<div class="chat-panel-content">
  <div class="chat-panel-historyPanel">
    <ul [nzDataSource]="chatHistories" [nzSplit]="false" nz-list nzSize="small">
      <li *ngFor="let item of chatHistories" nz-list-item>

        <div [class.sentByMyself]="item.sender_id === myself.id" class="chat-panel-historyPanel-item">
          <nz-avatar [nzSrc]="item.account_avatar" class="chat-panel-historyPanel-item-avatar" nzIcon="user"
                     nzSize="default"></nz-avatar>
          <div class="chat-panel-historyPanel-item-content"> {{ item.account_nickname }}</div>
          <div class="chat-panel-historyPanel-item-time">{{item.time}}</div>
        </div>

      </li>
    </ul>
  </div>
</div>

<footer class="chat-panel-footer">
  <div class="chat-panel-footer-ops"></div>
  <textarea class="chat-panel-footer-inputArea" contenteditable="true"></textarea>
  <div class="chat-panel-footer-sendBar"></div>
</footer>
