:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  // border-bottom: 1px solid #f6f6f6;
  // background-color: rgb(226, 225, 225);
  background-color: #f4f5f6;

  .left-nav {
    // display: flex;

    .menu {
  background-color: #f4f5f6;

      // width: auto;
      // min-width: fit-content;
      // max-width: 500ox;
      // height: 63px;
      // background-color: transparent;
      // border-right: none;
    }
  }

}

// [nz-menu] {
//   line-height: 64px;
// }

.moreOptionBen {
  margin-bottom: 16px;
}
